
body {
    font-family: sans-serif;
    padding: 50px;
}


a {
    color: purple;
}

.card {
    width: 350px;
    border: 5px solid purple;
    background-color: lavender;
    color: purple;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    margin-left: 0;
}


.card h2, .card p {
    text-align: center;
}

img {
    width: 100%;
}

